{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Blog Post</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Post</button>
		</div>
	</form>
</div>
<div class="container">
	<h3>Need help?</h2>
	<button class="btn btn-primary" id="make_new" onclick="genfun()">Generate Content</button>
	<button class="btn btn-primary" id="improve" onclick="impfun()">Improve my content</button>
	<br><br>
</div>
{% endblock content %}
